.DateTimeInputsBox {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.DateTimeInputsBox > * {
	flex: 1 1 auto;
}
.firstBlock {
	display: flex;
	gap: 25px;

	& > * {
		flex: 1 1 auto;
		flex-grow: 1;
		width: 50%;
	}
}
