@import '../../index.scss';

.NavigateBar {
	height: 100vh;
	display: flex;
	background: var(--main-bg-color);
	padding: 20px 0px;
	flex-direction: column;
	gap: 5px;
	box-sizing: border-box;
	transition: $bacground-theme-transition;

	&-paper {
		height: 100%;
	}
	.logo-box {
		display: flex;
		justify-content: center;

		svg {
			transition: $svg-theme-transition;
		}
	}
	.NavigateBar-nav {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 7vh;
	}
	.NavigateBar-nav__item {
		padding: 2px 12px 2px 12px;
		position: relative;
		width: 32px;
		&::before {
			width: 3px;
			height: 90%;
			border-radius: 2px;
			background-color: var(--alpha3);
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 1px;
			margin: auto 0;
			opacity: 0;
			transition: opacity 400ms ease;
			transition: $bacground-theme-transition;
		}
		&:hover {
			&::before {
				opacity: 1;
			}
		}
		svg {
			width: 100%;
		}
		&.active {
			svg {
				fill: var(--blue-color);
			}
			&::before {
				opacity: 1;
				background-color: var(--blue-color);
			}
		}
	}
	.settings {
		flex: 1 1 auto;
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	.change-theme-btn svg,
	.NavigateBar-nav__item svg {
		width: 30px;
		height: 30px;
		padding: 5px 0px;
		fill: var(--alpha3);
	}
}
