@import './index.scss';

body {
	overflow-x: hidden;
	background-color: var(--body-bg-color);
	transition: $bacground-theme-transition;
}
* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

button,
input {
	background: transparent;
	border: none;
	outline: none;
}

a {
	text-decoration: none;
}

a:hover,
a:visited {
	color: #000;
}

.errorDiv {
	display: flex;
	min-height: 50vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;

	p {
		font-size: 20px;
		font-weight: 500;
	}
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding: 0 15px;
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}
button {
	cursor: pointer;
}

a {
	cursor: pointer;
}

.App {
	height: 100vh;
}

main {
	flex: 1 1 auto;
	margin-top: 80px;
}

[theme='dark'] input::-webkit-calendar-picker-indicator {
	filter: invert(1);
}

.loaderImg {
	background-color: var(--grey-color-1);
}

body.modalActive {
	overflow-y: hidden;
}

.skeletonBox {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: var(--blue-color);
	&.active {
		display: none;
	}
}
.skell {
	height: 100% !important;
	background: rgba($color: #000000, $alpha: 0.5) !important;
	width: 100%;
}

.pageTitle {
	font-size: 36px;
	font-weight: bold;
	color: var(--main-elements-color);
	transition: $color-theme-transition;
	margin-top: 20px;
}

.pageContentBlock {
	margin-top: 20px;
	&__title {
		font-size: 25px;
		font-weight: bold;
		color: var(--main-elements-color);
		transition: $color-theme-transition;
	}
}
