@import './index.scss';

.customInputStyleClass {
	padding: 3px 2px;
	position: relative;
	display: flex;
	gap: 10px;
	align-items: center;

	&::after,
	&::before {
		content: '';
		width: 100%;
		position: absolute;
		bottom: 0;
		height: 3px;
		border-radius: 3px;
		display: block;
		margin: auto;
		left: 0;
		right: 0;
		background-color: var(--alpha5);
		transition: $bacground-theme-transition, width 400ms ease;
	}
	&::after {
		width: 0;
		background-color: var(--blue-color);
	}

	input {
		padding: 5px 0px;
		flex: 1 1 auto;
		font-size: 26px;
		color: var(--main-elements-color);
		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&::placeholder {
			color: var(--alpha5);
		}
	}
}
.customInputStyleClass.invalidValue {
	&::after,
	&::before {
		background-color: var(--carefully-color-1);
	}
}

.customInputStyleClass:has(input:focus) {
	&::after {
		width: 100%;
	}
}
