@import '../../styles/index.scss';
.LineChart {
	width: 100%;
	padding: 20px 15px;
	border-radius: 10px;
	box-sizing: border-box;
	background: var(--main-bg-color);
	margin-top: 20px;
	transition: $bacground-theme-transition;
	z-index: 0;
	position: relative;

	canvas {
		width: 100%;
		max-width: 100%;
	}
}
