@import '../../styles/index.scss';
.HistoryList {
	width: 100%;
	padding: 20px 15px;
	border-radius: 10px;
	box-sizing: border-box;
	background: var(--main-bg-color);
	margin-top: 20px;
	transition: $bacground-theme-transition;

	&-header {
		display: flex;
		justify-content: flex-end;

		.seeAll {
			color: var(--blue-color);
			transition: $color-theme-transition, opacity 400ms ease;
			font-size: 16px;
			opacity: 0.6;

			&:hover {
				opacity: 1;
			}
		}
	}

	&-list {
		margin-top: 5px;
	}
}
