@import '../../index.scss';

.statistic-block {
	margin-top: 25px;
	&__title {
		font-size: 25px;
		font-weight: bold;
		color: var(--main-elements-color);
		transition: $color-theme-transition;
	}
}
