@import '../../styles/index.scss';

.HistoryList__item {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 10px 15px;

	.category-box {
		transition: $color-theme-transition;
		color: var(--alpha7);
		font-size: 17px;
	}

	.money-box {
		transition: $color-theme-transition;
		font-size: 18px;
		margin-left: auto;
		color: var(--main-elements-color);
	}

	.item-avatar-box {
		background-color: var(--blue-color);
		display: flex;
		align-items: center;
		justify-content: center;
		height: 37px;
		width: 37px;
		opacity: 0.75;
		border-radius: 50%;
		transition: $bacground-theme-transition;
		svg {
			width: 23px;
			height: 23px;
			color: #fff;
		}
	}

	&:not(:last-child) {
		border-bottom: 2px solid var(--alpha4);
		transition: border-color $transitionTime;
	}
}
.HistoryList__item.income {
	.money-box {
		color: var(--blue-color);
		transition: $color-theme-transition;
	}
}
